
body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #fff;}

.logo {font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;}

.header-logo .logo-part {color: #2e2f42;}

.nav-link {font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus
{color: #404bbf;}

.contacts {font-style: normal;}

.contacts-link {font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

 {color: #404bbf;}

.main {background-color: #2E2F42;}

.main-item {
font-family: "Roboto", sans-serif;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;}

.main-button {background-color: #4D5AE5;
font-weight: 500;
font-family: "Roboto", sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;}

.main-button:hover,
.main-button:focus 
{background-color: #404BBF}

.headline {font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;}

.headline-item {font-family: "Roboto", sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}


.section-team {background-color: #F4F4FD;}

.team {font-family: "Roboto", sans-serif;
line-height: 1.11;
text-transform: capitalize;
font-weight: 500;
font-size: 36px;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;}

.team-work {background-color: #FFFFFF;}

.name {font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;}

.work {font-family: "Roboto", sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}

.portfolio {font-family: "Roboto", sans-serif;
font-size: 36px;
line-height: 1.11;
text-transform: capitalize;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;}

.portfolio-page {font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;}

.portfolio-type {font-family: "Roboto", sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}

.page-footer {background-color: #2E2F42;}

.footer-logo .logo-part{color: #f4f4fd;}

.offer {font-family: "Roboto", sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}